body {
    background-color: #F8F8F8; /* $color-aluminum */
    color: #313439; /* $color-darkgray */
}

a {
    text-decoration: none;
}

/* scores */

.scores {
    text-align: center;
}

.scores .scores {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 667px) {
    .score {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .score {
        width: 25%;
    }
}

/* nav */

nav {
    text-align: right;
    padding: 1rem 0;
}

nav a {
    padding: 1rem;
}

nav a:hover {

}

/* Current player */
.currentPlayer {
    text-align: center;
}

/* Cards */

.cards {
    margin: 0 1px;
    text-align: center;
}

.cards .cards {
    text-align: left;
}

/* default card size if media queries not supported*/
.card {
    display: inline-block;
    width: 33.3333%;
}

.card svg {
    margin-left: 2px;
    height: auto;
    width: 299%;
}

/* card size for mobile */
@media only screen and (min-width: 200px) {
    .card {
        width: 50%;
    }

    .card svg {
        width: 199%;
        cursor: pointer;
    }
}

/* card size for ipad */
@media only screen and (min-width: 768px) {
    .card {
        width: 25%;
    }
    
    .card svg {
        width: 395%;
    }
}

@media only screen and (min-width: 1050px) {
    .card {
        width: 20%;
    }
    
    .card svg {
        width: 492%;
    }
}


/* pick up card */
.newCard {
    text-align: center;
}